<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp" packages="">
  <Appenders>
    <Console name="stdout" target="SYSTEM_OUT">
      <PatternLayout pattern="%r [%t] %-5p %c %x \t %m%n" />
    </Console>
    <File name="requests" fileName="requests.log">
      <PatternLayout pattern="%r [%t] %-5p %c %x \t %m%n" />
    </File>
    <Async name="requests-async">
      <AppenderRef ref="requests" />
      <!-- <AppenderRef ref="stdout" /> -->
    </Async>
    <File name="bootstrap" fileName="bootstrap.log">
      <PatternLayout pattern="%m%n" />
    </File>
    <Async name="bootstrap-async">
      <AppenderRef ref="bootstrap" />
    </Async>
  </Appenders>
  <Loggers>
    <Logger name="requests" level="info">
      <AppenderRef ref="requests-async" />
    </Logger>
    <Logger name="bootstrap" level="info">
      <AppenderRef ref="bootstrap-async" />
    </Logger>
    <Root level="error">
    </Root>
  </Loggers>
</Configuration>